<h1>Regex Software services</h1>

<h3> Machine learning & Deep learning training and Internship</h3>
<h3>Name = Ashish Chauhan</h3>

<h3> Task - 1 :: Printing Patterns </h3>

## 1.
<pre>
5 5 5 5 5
5 5 5 5
5 5 5
5 5
5
</pre>

In [1]:
n = 5
for i in range(n):
    for j in range(n-i):
        print("5",end = " ")
    print()

5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

## 2.
<pre>
0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1
</pre>

In [2]:
n = 5
for i in range(n):
    for j in range(n-i+1):
        print(j,end = " ")
    print()

0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

## 3.
<pre>
1
3 3
5 5 5
7 7 7 7
9 9 9 9 9
</pre>

In [3]:
n = 5
for i in range(n):
    for j in range(i+1):
        print(2*i+1,end = " ")
    print()

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

## 4.
<pre>
1
2 1
3 2 1
4 3 2 1
5 4 3 2 1
</pre>

In [4]:
n = 5
for i in range(n):
    for j in range(i+1,0,-1):
        print(j,end = " ")
    print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

## 5.
<pre>
1
3 2
6 5 4
10 9 8 7
</pre>

In [5]:
n, x = 4, 0
for i in range( n ):
    x = x + i*2 + 1
    for j in range( i + 1 ):
        print( x, end = " " )
        x -= 1
    print()

1
3 2
6 5 4
10 9 8 7

## 6.
<pre>
1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1
1 6 15 20 15 6 1
</pre>

In [6]:
n = 7
for i in range(n):
    for j in range(0, i+1):
        res = 1
        if j > i-j:
            j = i - j
        for k in range(0, j):
            res = res * (i - k)
            res = res // (k + 1)
        print(res , end = " ")
    print()

1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1
1 6 15 20 15 6 1

## 7.
<pre>
1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5
</pre>

In [7]:
n = 5
for i in range(n):
    for j in range(n):
        if i < j:
            print(j+1, end = " ")
        else:
            print(i+1, end = " ")
    print()

1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

## 8.
<pre>
1
2 4
3 6 9 
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 56 64
</pre>

In [8]:
n= 8
for i in range(1,n+1):
    x = i
    for j in range (1,i+1):
        print(x*j,end = " ") 
    print()

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 56 64

## 9.
<pre>
* * * * * *
 * * * * *
  * * * *
   * * *
    * *
     *
</pre>

In [9]:
n = 6
for i in range(n):
    for j in range(i):
        print(" ",end = "")
    for j in range(n-i, 0 , -1):
        print("*",end = " ")
    print()

* * * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

## 10.
<pre>
       *
      * *
     * * *
    * * * *
   * * * * *
  * * * * * *
 * * * * * * *
* * * * * * * *
</pre>

In [10]:
n = 8
for i in range(n):
    for j in range(n-i,0,-1):
        print(" ",end = "")
    for j in range(i+1):
        print("*",end = " ")
    print()

        *
       * *
      * * *
     * * * *
    * * * * *
   * * * * * *
  * * * * * * *
 * * * * * * * *

## 11.
<pre>
*
* *
* * *
* * * *
* * * * *
* * * * * *

* * * * * *
* * * * *
* * * *
* * *
* *
*
</pre>

In [11]:
n = 13
for i in range(n):
    if i < n // 2:
        for j in range(i+1):
            print("*",end = " ")
        print()
    elif i == n//2:
        print()
    else:
        for j in range(n-i, 0 , -1):
            print("*",end = " ")
        print()

*
* *
* * *
* * * *
* * * * *
* * * * * *

* * * * * *
* * * * *
* * * *
* * *
* *
*

## 12.
<pre>
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*
</pre>

In [12]:
n = 9
for i in range(n):
    if i < n // 2:
        for j in range(i+1):
            print("*",end = " ")
    else:
        for j in range(n-i, 0 , -1):
            print("*",end = " ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

## 13.
<pre>
        *
      * *
    * * *
  * * * *
* * * * *
  * * * *
    * * *
      * *
        *
</pre>

In [13]:
n = 9
for i in range(n):
    if i < n // 2:
        for j in range(n-i, 0 , -1):
            print(" ",end = " ")
        for j in range(i+1):
            print("*",end = " ")
    else:
        for j in range(i+1):
            print(" ",end = " ")
        for j in range(n-i, 0 , -1):
            print("*",end = " ")
    print()

                  *
                * *
              * * *
            * * * *
          * * * * *
            * * * *
              * * *
                * *
                  *

## 14.
<pre>
* * * * *
 * * * *
  * * *
   * *
    *
    *
   * *
  * * *
 * * * *
* * * * *
</pre>

In [14]:
n = 10
for i in range(n):
    if i < n // 2:
        for j in range(i):
            print(" ",end = "")
        for j in range(n-i,n//2 , -1):
            print("*",end = " ")
    else:
        for j in range(n-i, 1 , -1):
            print(" ",end = "")
        for j in range(i- n//2 + 1):
            print("*",end = " ")
    print()

* * * * *
 * * * *
  * * *
   * *
    *
    *
   * *
  * * *
 * * * *
* * * * *

## 15.
<pre>
****************
*******__*******
******____******
*****______*****
****________****
***__________***
**____________**
*______________*
</pre>

In [15]:
n = 8
for i in range(n):
    for j in range(2*n):
        if j < n-i or j >= n+i:
            print("*",end = "")
        else:
            print("_",end = "")
    print()

****************
*******__*******
******____******
*****______*****
****________****
***__________***
**____________**
*______________*